---
layout: default
---

<div>
  <p>Oh hi. I'm Anubhab Haldar, a research engineer in computational materials. My broad interests (personal, professional, otherwise) include but are not limited to: condensed matter, electromagnetism and optics, numerical methods, high performance computing, camping, 4X games, and simple cooking.</p>

  <p> All code posted on this site should be considered under an MIT License unless otherwise stated </p>
  
  <meta name="description" content="Anubhab Haldar's Personal Site.">
</div>
